
<!DOCTYPE html>
<html lang="en" id = "html">
<head>
    <title>Aulero UNSL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/autorizarReservas.js"></script>
</head>
<body>
<!-- Barra de Navegación -->
    <%- include('partials/navegacion') %>
<!-- Contenido de la página -->
<!-- a la altura del main o adentro y modificar css debe ir la barra vertical (la idea es que no tape la barrra de navegacion,
     y no mueva el main de lugar-->

<!--fin codigo barra vertical-->
<main class="main-container" role="main">
    <div class="btn-group-vertical vertical-bar" role="group" aria-label="ABM">
        <div class="btn-group boton-vertical-bar" role="group">
            <button type="button" class="btn  dropdown-toggle boton-vertical-bar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu boton-vertical-bar">
              <li><a href="#">Dropdown link</a></li>
              <li><a href="#">Dropdown link</a></li>
            </ul>
        </div>

        <div class="btn-group" role="group">
            <button type="button" class="btn boton-vertical-bar">dsfsdfdsf</button>
        </div>
        
        <div class="btn-group" role="group">
            <button type="button" class="btn boton-vertical-bar">BOTOOOOOOOOO</button>
        </div>
        
        <div class="btn-group" role="group">
            <button type="button" class="btn boton-vertical-bar">BOTOOOOOOOOOOO</button>
        </div>
    </div>
    <!-- Container con información -->
    <div class="container bg-encabezado" id = "containerListado">

        <div class="row">
            <div class="col-xs-6">
                <h1 class="titulo" >Administrador</h1> <br>
            </div>
            <div class="col-xs-6 cont" style="justify-content: flex-end" id= "flotante">
                <script>
                    if(localStorage.getItem("token")!= null){
                        flotante = document.getElementById("flotante");
                        flotante.innerHTML ='<div class="chip">'+
                                                '<div class="user-text">Bienvenido, '+ localStorage.getItem("username")+'</div>  <a class="log-out" href="javascript:logout()"><span class="glyphicon glyphicon-log-out"></span></a>'+
                                            '</div>';
                    }
                </script>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h2 class="titulo" id = "nombreTabla">segun la seccion</b></h2>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-line ml-auto" style="padding : 0" data-toggle="modal" data-target="#eliminar" ><i class="material-icons fa fa-play align-middle">&#xE15C;</i><span>Eliminar</span></button>
                <button type="button" class="btn btn-bold mb-2" data-toggle="modal" data-target="#createOrUpdate" ><i class="material-icons">&#xE147;</i><span>Añadir</span></button>
            </div>
        </div>
        <!-- codigo de tabla-->
        <div class="table-wrapper"></div>
            <table class="table table-hover" id="table">
                <!-- Encabezado de la tabla -->
                <thead id = "thead">
                    <tr>
                        <th>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                            </span>
                        </th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <!-- Cuerpo de la tabla -->
                <tbody id="tbody">
                    <tr>
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td>Thomas Hardy</td>
                        <td>thomashardy@mail.com</td>
                        <td>89 Chiaroscuro Rd, Portland, USA</td>
                        <td>(171) 555-2222</td>
                        <td>
                            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                </tbody>

            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <!-- PopUp de rechazar reserva -->
    <div class="modal fade" id="createOrUpdate" tabindex="1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form>
                    <div class="modal-header">						
                        <h4 class="modal-title" id = "añadirTitulo">segun la seccion</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea class="form-control" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" class="form-control" required>
                        </div>					
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-line" data-dismiss="modal" >Cancelar</button>
                        <button type="button" class="btn btn-bold" data-dismiss="modal" onclick="añadir()" >Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- PopUp de eliminar -->
    <div class="modal fade" id="cancelarReserva" tabindex="1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalLabel1">Eliminar reserva</h4>
                </div>
                <div class="modal-body">
                    ¿Está seguro de que quiere eliminar este registro?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-line" data-dismiss="modal" >Cancelar</button>
                    <button type="button" class="btn btn-bold" data-dismiss="modal" onclick="eliminar()" >Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- PopUp OK -->
    <div class="modal fade" id="cartelOk" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-center" id = "textOk"></h4>
                </div>                                       
            </div>
        </div>
    </div>
    <!-- PopUp FAIL -->
    <div class="modal fade" id="cartelFail" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">	
                    <h4 class="text-center" id = "textError"></h4>
                </div>                    
            </div>
        </div>
    </div>
</main>
<!-- Footer -->
<%- include('partials/footer') %>
</body>
</html>