<!DOCTYPE html>
<html lang="en" id = "html">
<head>
    <title>Aulero UNSL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/autorizarReservas.js"></script>
</head>
<body>
<!-- Barra de Navegación -->
    <%- include('partials/navegacion') %>
<!-- Contenido de la página -->
<main class="main-container" role="main">
    <!-- Container con información -->
    <div class="container bg-encabezado" id = "containerListado">

        <div class="row">
            <div class="col-xs-6">
                <h1 class="titulo">Listado de reservas pendientes</h1> <br>
            </div>
            <div class="col-xs-6 cont" style="justify-content: flex-end" id= "flotante">
                <script>
                    if(localStorage.getItem("token")!= null){
                        flotante = document.getElementById("flotante");
                        flotante.innerHTML ='<div class="chip">'+
                                                '<div class="user-text">Bienvenido,'+ localStorage.getItem("username")+'</div>  <a class="log-out" href="javascript:logout()"><span class="glyphicon glyphicon-log-out"></span></a>'+
                                            '</div>';
                    }
                </script>
            </div>

        </div>
        <h3 class="subtitulo">1er Cuatrimestre</h3><br>

        <table class="table table-hover">
            <!-- Encabezado de la tabla -->
            <thead>
            <tr>
                <th>Aula</th>
                <th>Día</th>
                <th>Horario</th>
                <th>Materia</th>
                <th>Docente</th>
            </tr>
            </thead>
            <!-- Cuerpo de la tabla -->
            <tbody id="tbody">
            <!-- Fila con información visible-->
            <div class="acordion-heading">
                <tr class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
                    <td>Aula 58</td>
                    <td>Lunes</td>
                    <td>10:00 - 13:00</td>
                    <td>Cálculo I</td>
                    <td>Docente1</td>
                </tr>
            </div>
            <!-- Fila expansible -->
            <tr>
                <td colspan="5" style="padding: 0; border-top-style: none;">
                    <div id="collapseOne" class="collapse">
                        <br>
                        <div class="botones text-right">

                            <button type="button" class="btn btn-line mb-2">Rechazar reserva</button>
                            <button type="button" class="btn btn-line mb-2">Autorizar reserva</button>
                        </div>
                    </div>
                </td>
            </tr>
            <!-- Fila con información visible-->
            <div class="acordion-heading">
                <tr class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
                    <td>Aula 57</td>
                    <td>Miércoles</td>
                    <td>8:00 - 10:00</td>
                    <td>Álgebra I</td>
                    <td>Docente2</td>
                </tr>
            </div>
            <!-- Fila expansible -->
            <tr>
                <td colspan="5" style="padding: 0; border-top-style: none;">
                    <div id="collapseTwo" class="collapse">
                        <br>
                        <div class="botones text-right">

                            <button type="button" class="btn btn-line mb-2">Rechazar reserva</button>
                            <button type="button" class="btn btn-line mb-2">Autorizar reserva</button>
                        </div>
                    </div>
                </td>
            </tr>
            <div class="acordion-heading">
                <tr class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
                    <td>Anfiteatro II</td>
                    <td>Jueves</td>
                    <td>15:00 - 18:00</td>
                    <td>Programación I</td>
                    <td>Docente3</td>
                </tr>
            </div>
            <!-- Fila expansible -->
            <tr>
                <td colspan="5" style="padding: 0; border-top-style: none;">
                    <div id="collapseThree" class="collapse">
                        <br>
                        <div class="botones text-right">

                            <button type="button" class="btn btn-line mb-2">Rechazar reserva</button>
                            <button type="button" class="btn btn-line mb-2">Autorizar reserva</button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>


    </div>

</main>
<!-- TODO: Terminar Footer-->
<footer class="footer">
    <div class="container">
        <h2>Footer</h2>

    </div>
</footer>
</body>
</html>