<!DOCTYPE html>
<html lang="en" id = "html">
<head>
    <title>Aulero UNSL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/autorizarReservas.js"></script>
</head>
<body>
<!-- Barra de Navegación -->
    <%- include('partials/navegacion') %>
<!-- Contenido de la página -->
<main class="main-container" role="main">
    <!-- Container con información -->
    <div class="container bg-encabezado" id = "containerListado">

        <div class="row">
            <div class="col-xs-6">
                <h1 class="titulo">Listado de reservas pendientes</h1> <br>
            </div>
            <div class="col-xs-6 cont" style="justify-content: flex-end" id= "flotante">
                <script>
                    if(localStorage.getItem("token")!= null){
                        flotante = document.getElementById("flotante");
                        flotante.innerHTML ='<div class="chip">'+
                                                '<div class="user-text">Bienvenido,'+ localStorage.getItem("username")+'</div>  <a class="log-out" href="javascript:logout()"><span class="glyphicon glyphicon-log-out"></span></a>'+
                                            '</div>';
                    }
                </script>
            </div>

        </div>
       

    </div>
    <!-- PopUp de cancelar reserva -->
    <div class="modal fade" id="cancelarReserva" tabindex="1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalLabel1">Eliminar reserva</h4>
                </div>
                <div class="modal-body">
                    ¿Está seguro de que quiere rechazar la reserva?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-line" data-dismiss="modal" onclick="hidePopUp('cancelarReserva')">Cancelar</button>
                    <button type="button" class="btn btn-bold" data-dismiss="modal" onclick="updateReservaAdmin()" >Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- PopUp de Autorizar reserva -->
    <div class="modal fade" id="autorizarReserva" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalLabel2">Autorizar reserva</h4>
                </div>
                <div class="modal-body">
                    ¿Está seguro de que quiere autorizar la reserva?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-line" data-dismiss="modal" onclick="hidePopUp('autorizarReserva')">Cancelar</button>
                    <button type="button" class="btn btn-bold" data-dismiss="modal" onclick="updateReservaAdmin()" >Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- PopUp OK -->
    <div class="modal fade" id="cartelOk" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-center" id = "textOk"></h4>
                </div>                                       
            </div>
        </div>
    </div>
    <!-- PopUp FAIL -->
    <div class="modal fade" id="cartelFail" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">	
                    <h4 class="text-center" id = "textError"></h4>
                </div>                    
            </div>
        </div>
    </div>
</main>
<!-- TODO: Terminar Footer-->
<footer class="footer">
    <div class="container">
        <h2>Footer</h2>

    </div>
</footer>
</body>
</html>