<!DOCTYPE html>
<html lang="en" id = "html">
<head>
    <title>Listado de Aulas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/listadoAulas.js"></script>
</head>
<body>
    
    <%- include('partials/navegacion') %>
    <!-- Contenido de la página -->
    <main class="main-container" role="main">
        <!-- Encabezado con filtros de búsqueda -->
        <div class="container bg-encabezado">
            <div class="row">
                <div class="col-xs-6">
                    <h1 class="titulo">Aulas</h1> <br>
                </div>
                <div class="col-xs-6 cont" style="justify-content: flex-end" id= "flotante">
                    <script>
                        if(localStorage.getItem("token")!= null){
                            flotante = document.getElementById("flotante");
                            flotante.innerHTML ='<div class="chip">'+
                                                    '<div class="user-text">Bienvenido, '+ localStorage.getItem("username")+'</div>  <a class="log-out" href="javascript:logout()"><span class="glyphicon glyphicon-log-out"></span></a>'+
                                                '</div>';
                        }
                    </script>
                </div>

            </div>
            <form class="form-group form-inline">

                <label class="etiqueta" for="edif">Edificio</label>
                <select class="form-control campo" id="edif" onchange="cargarUbicacion()">
                </select>

                <label class="etiqueta" for="capac">Capacidad</label>
                <input class="form-control campo" type="number" id="capac" style="max-width: 80px" min="0" max="500" value="40">

                <label class="etiqueta" for="ubic">Ubicación</label>
                <select class="form-control campo" id="ubic">
                <option>todos</option>
                </select>

                <button type="button" class="btn btn-search mb-2" onclick="getAulas()"><span class="glyphicon glyphicon-search"></span></button>

            </form>


        </div>

        <!-- Contenedor con la tabla de aulas -->
        <div class="container bg-container">
            <div class="panel panel-default bg3">
                <div class="panel-body">
                    <table class="table table-hover">
                        <!-- Encabezado de la tabla -->
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Edificio</th>
                            <th>Capacidad</th>
                            <th>Ubicación</th>
                        </tr>
                        </thead>
                        <!-- Cuerpo de la tabla -->
                        <tbody id="tbody">
                        </tbody>

                    </table>
                </div>
            </div>


        </div>
    </main>
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>