<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Listado de Aulas</title>
  </head>
  <body>
    <select name="select" id="edificio">
      <option value="Ninguno">Ninguno</option>
      <option value="Bloque 1">Bloque 1</option>
      <option value="Bloque 2">Bloque 2</option>
      <option value="Bloque 3">Bloque 3</option>
    </select>
    
    <select name="select" id="capacidad">
      <option value="Ninguno">Ninguno</option>
      <option value="30">30</option>
      <option value="40">40</option>
      <option value="50">50</option>
    </select>

    <select name="select" id="ubicacion">
      <option value="Ninguno">Ninguno</option>
      <option value="Planta Baja">Planta Baja</option>
      <option value="Primer Piso">Primer Piso</option>
      <option value="Segundo Piso">Segundo Piso</option>
    </select>
    
    <input type="button" value="Click me" onclick="filtrar()">
   
    
    <script >

        const aulasController = require("../controllers/aulas.constroller");
        
        function filtrar(){
            const edificio = document.getElementById('edificio').value;
            const capacidad = document.getElementById('capacidad').value;
            const ubicacion = document.getElementById('ubicacion').value;
            alert("hola")
            if(edificio != "Ninguno"){
                if(capacidad != "Ninguno"){
                    if(ubicacion != "Ninguno"){
                        
                    }
                }
            }
        }
    </script>
  </body>
</html>

