<!DOCTYPE html>
<html lang="en" id="html">
<head>
    <title>Listado de reservas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/listadoReservas.js">getReservasDocente();</script>
</head>
<body>
<!-- Barra de Navegación -->
    <%- include('partials/navegacion') %>
<!-- Contenido de la página -->
<main class="main-container" role="main">
    <!-- Container con información -->
    <div class="container bg-encabezado">

        <div class="col-xs-6">
            <h1 class="titulo">Listado de reservas</h1> <br>
            <h3 class="subtitulo">1er Cuatrimestre</h3><br>
        </div>
        <div class="col-xs-6 cont" style="justify-content: flex-end" id= "flotante">
            <script>
                if(localStorage.getItem("token")!= null){
                    flotante = document.getElementById("flotante");
                    flotante.innerHTML ='<div class="chip">'+
                                            '<div class="user-text">Bienvenido, '+ localStorage.getItem("username")+'</div>  <a class="log-out" href="javascript:logout()"><span class="glyphicon glyphicon-log-out"></span></a>'+
                                        '</div>';
                }else{
                    
                    window.location.href = '/login';
                }
            </script>
        </div>



        <table class="table table-hover" id="table">
            <!-- Encabezado de la tabla -->
            <thead>
            <tr>
                <th>Aula</th>
                <th>Día</th>
                <th>Horario</th>
                <th>Materia</th>
                <th>Estado</th>
            </tr>
            </thead>
            <!-- Cuerpo de la tabla -->
            <tbody id="tbody">
            <!-- Fila con información visible-->
            <div class="acordion-heading">
                <tr class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
                    <td>Aula 58</td>
                    <td>Lunes</td>
                    <td>10:00 - 13:00</td>
                    <td>Cálculo I</td>
                    <td>Aceptada</td>
                </tr>
            </div>
            <!-- Fila expansible -->
            <tr>
                <td colspan="5" style="padding: 0; border-top-style: none;">
                    <div id="collapseOne" class="collapse">
                        <div class="expansible">
                            <!-- Lista de extras del aula, compuesto por ícono y nombre -->
                            <ul class="list-inline">
                                <li><span class="glyphicon glyphicon-check icon-check"></span>Proyector</li>
                                <li><span class="glyphicon glyphicon-check icon-check"></span>Pizarrón</li>
                            </ul>
                        </div>
                        <div class="botones text-right">

                            <button type="button" class="btn btn-line mb-2" data-toggle="modal" data-target="#comentarAula">Comentar aula</button>
                            <button type="button" class="btn btn-line mb-2" disabled>Cancelar reserva</button>
                        </div>
                    </div>
                </td>
            </tr>
            <!-- Fila con información visible-->
            <div class="acordion-heading">
                <tr class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
                    <td>Aula 57</td>
                    <td>Miércoles</td>
                    <td>8:00 - 10:00</td>
                    <td>Álgebra I</td>
                    <td>Pendiente</td>
                </tr>
            </div>
            <!-- Fila expansible -->
            <tr>
                <td colspan="5" style="padding: 0; border-top-style: none;">
                    <div id="collapseTwo" class="collapse">
                        <div class="expansible">
                            <!-- Lista de extras del aula, compuesto por ícono y nombre -->
                            <ul class="list-inline">
                                <li><span class="glyphicon glyphicon-check icon-check"></span>Proyector</li>
                                <li><span class="glyphicon glyphicon-check icon-check"></span>Pizarrón</li>
                            </ul>
                        </div>

                        <div class="botones text-right">

                            <button type="button" class="btn btn-line mb-2">Cancelar reserva</button>
                        </div>
                    </div>
                </td>
            </tr>
            <div class="acordion-heading">
                <tr class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
                    <td>Anfiteatro II</td>
                    <td>Jueves</td>
                    <td>15:00 - 18:00</td>
                    <td>Programación I</td>
                    <td>Rechazada</td>
                </tr>
            </div>
            <!-- Fila expansible -->
            <tr>
                <td colspan="5" style="padding: 0; border-top-style: none;">
                    <div id="collapseThree" class="collapse">
                        <div class="expansible">
                            <!-- Lista de extras del aula, compuesto por ícono y nombre -->
                            <ul class="list-inline">
                                <li><span class="glyphicon glyphicon-check icon-check"></span>Proyector</li>
                                <li><span class="glyphicon glyphicon-check icon-check"></span>Pizarrón</li>
                            </ul>
                        </div>
                        <div class="botones text-right">

                            <button type="button" class="btn btn-line mb-2" data-toggle="modal" data-target="#cancelarReserva">Cancelar reserva</button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>

        <!-- PopUp de cancelar reserva -->
        <div class="modal fade" id="cancelarReserva" tabindex="1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="modalLabel1">Eliminar reserva</h4>
                    </div>
                    <div class="modal-body">
                        ¿Está seguro de que quiere eliminar la reserva?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-line" data-dismiss="modal" >Cancelar</button>
                        <button type="button" class="btn btn-bold" data-dismiss="modal" onclick="cancelarReservaDocente()" >Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- PopUp de Autorizar reserva -->
        <div class="modal fade" id="autorizarReserva" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="modalLabel2">Autorizar reserva</h4>
                    </div>
                    <div class="modal-body">
                        ¿Está seguro de que quiere autorizar la reserva?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-line" data-dismiss="modal" >Cancelar</button>
                        <button type="button" class="btn btn-bold" data-dismiss="modal" >Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- PopUp de comentar aula -->
        <div class="modal fade" id="comentarAula" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="modalLabel3">Comentar aula</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-group">
                            <textarea id="comentario" class="form-control" placeholder="Ingrese su comentario..."></textarea>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-line" data-dismiss="modal" onclick="hidePopUp('comentarAula')" >Cancelar</button>
                        <button type="button" class="btn btn-bold" data-dismiss="modal" onclick="comentarAula()" >Enviar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- PopUp OK -->
        <div class="modal fade" id="cartelOk" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center"><span class="badge badge-success" style="background: #82ce34; margin-right:20px;"><i class="material-icons">&#xE876;</i></span>El comentario fue enviado con exito.</h4>
                    </div>                                       
                </div>
            </div>
        </div>
        <!-- PopUp FAIL -->
        <div class="modal fade" id="cartelFail" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">	
                        <h4 class="text-center" id = "textError"></h4>
                    </div>                    
                </div>
            </div>
        </div>

    </div>

</main>
<!-- TODO: Terminar Footer-->
<footer class="footer">
    <div class="container">
        <h2>Footer</h2>

    </div>
</footer>
</body>
</html>