<!DOCTYPE html>
<html lang="en" id = "html">
<head>
    <title>Aulero UNSL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<!-- Barra de Navegación -->

<%- include('partials/navegacion') %>

<!-- Contenido de la página -->
<main class="main-container" role="main">
    <!-- Encabezado con información -->
    <div class="container bg-encabezado">
        <div class="row">
            <div class="col-xs-6">
                <h1 class="titulo">Iniciar sesión</h1>
            </div>
            
            <div class="col-xs-6 cont" style="justify-content: flex-end" id= "flotante">
                <script>
                    if(localStorage.getItem("token")!= null){
                        console.log(localStorage.getItem("token"));
                        flotante = document.getElementById("flotante");
                        flotante.innerHTML ='<div class="chip">'+
                                                '<div class="user-text">Bienvenido,'+ localStorage.getItem("username")+'</div>  <a class="log-out" href="javascript:logout()"><span class="glyphicon glyphicon-log-out"></span></a>'+
                                            '</div>';
                    }
                </script>
            </div>

        </div>
        <br>
        <div class="text-center">
            <div class="container center-div">
                <form class="form-group">
                    <input type="text" class="form-control" id="user" placeholder="Usuario" onclick="setError(0)">
                    <br>
                    <input type="password" class="form-control" id="pass" placeholder="Contraseña">
                    <br>
                    <br>
                    <button type="button" class="btn btn-bold mb-2" onclick="iniciarSesion()">Iniciar sesión</button>

                </form>
                <span style="color: red; opacity: 0;" id = "spanError"> El usuario y/o contraseña son incorrectos. </span>
            </div>
        </div>


    </div>
</main>
<!-- TODO: Terminar Footer-->
<footer class="footer">
    <div class="container">
        <h2>Footer</h2>

    </div>
</footer>
<script type="text/javascript" src="js/login.js"></script>
</body>
</html> 