<!DOCTYPE html>
<html lang="en" id = "html"> <!-- ese id es para renderizar las paginas del lado del cliente -->
<head>
    <title>Aulero UNSL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>
    <!-- Barra de Navegación -->
    <%- include('partials/navegacion') %>
    <!-- la barra es cargada desde el archivo navegacion.html -->
    
    <!-- Contenido de la página -->
    <main class="main-container" role="main">
        <!-- Encabezado con información -->
        <div class="container bg-carousel">
            <!-- Carousel -->
            <div id="carousel" class="carousel slide" data-ride="carousel">

                <!-- Indicadores del carousel -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="resources/carousel-0.jpg">
                        <div class="carousel-caption">
                            <h3>Una nueva experiencia</h3>
                            <p>Un sitio renovado para facilitar la vida estudiantil</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="resources/carousel-1.jpg">
                        <div class="carousel-caption">
                            <h3>Reservas de aulas</h3>
                            <p>Una manera más sencilla y práctica de poder organizar los espacios de cursada</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="resources/carousel-2.jpg">
                        <div class="carousel-caption">
                            <h3>Armá tus horarios</h3>
                            <p>Seleccioná tu carrera y descargá tus horarios sin tener que moverte</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- Contenedor con información -->
        <div class="container bg-encabezado">
            <h2 class="titulo">Bienvenido al Aulero de la UNSL</h2>
            <br>
            A través de las distintas pestañas se puede acceder a información sobre todas las aulas disponibles en distintos campus y edificios de la institución, así como consultar horarios de materias de todas las carreras. Para los docentes se tiene la opción de reservar aulas para sus cátedras, así como revisar el estado de sus solicitudes.

        </div>
    </main>
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>