<!DOCTYPE html>
<html lang="en" id = "html">
<head>
    <title>Reserva de Aula</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
</head>
<body>
    <%- include('partials/navegacion') %>
    <!-- Contenido de la página -->
    <main class="main-container" role="main">

        <div class="container bg-encabezado ">
            <div class="row">
                <div class="col-xs-6">
                    <h1 class="titulo">Reserva de aula</h1> <br>
                </div>
                <div class="col-xs-6 cont" style="justify-content: flex-end" id= "flotante">
                    <script>
                        if(localStorage.getItem("token")!= null){
                            flotante = document.getElementById("flotante");
                            flotante.innerHTML ='<div class="chip">'+
                                                    '<div class="user-text">Bienvenido,'+ localStorage.getItem("username")+'</div>  <a class="log-out" href="javascript:logout()"><span class="glyphicon glyphicon-log-out"></span></a>'+
                                                '</div>';
                        }else{
                            
                            window.location.href = '/login';
                        }
                    </script>
                </div>

            </div>


            <!--content inner-->
            <div class="content__inner">

                <div class="container overflow-hidden">
                    <!--multisteps-form-->
                    <div class="multisteps-form">
                        <!--progress bar-->
                        <div class="row">
                            <div class="col-12 col-lg-8 ml-auto mr-auto mb-4 col-centered">
                                <div class="multisteps-form__progress">
                                    <button class="multisteps-form__progress-btn js-active" type="button" title="User Info" id="botonPaso1">Buscar aula</button>
                                    <button class="multisteps-form__progress-btn" type="button" title="Address">Seleccionar aula</button>
                                    <button class="multisteps-form__progress-btn" type="button" title="Order Info">Completar datos</button>
                                </div>
                            </div>
                        </div>
                        <!--form panels-->
                        <div class="row">
                            <div class="col-12">
                                <form class="multisteps-form__form">
                                    <!-- Panel de Buscar Aula-->
                                    <div class="multisteps-form__panel js-active" data-animation="slideHorz">
                                        <br><br>
                                        <div class="container">
                                            <div class="row">
                                                <!-- Columna izquierda con los label de los campos -->
                                                <div class="col-xs-6 text-right">
                                                    <label class="etiqueta-stretch">Edificio:</label><br>
                                                    <label class="etiqueta-stretch">Día</label><br>
                                                    <label class="etiqueta-stretch">Hora inicio:</label><br>
                                                    <label class="etiqueta-stretch">Cantidad de horas:</label><br>
                                                    <label class="etiqueta-stretch">Capacidad:</label><br>
                                                    <label class="etiqueta-stretch">Período:</label><br>
                                                </div>

                                                <!-- Columna derecha con los campos -->
                                                <div class="col-xs-6 ">
                                                    <select class="form-control campo-stretch" id="edif"></select>

                                                    <select class="form-control campo-stretch" id="dias"></select>


                                                    <select class="form-control campo-stretch" id="hInicio"></select>

                                                    <select class="form-control campo-stretch" id="hCant"></select>

                                                    <input class="form-control campo-stretch" type="number" min="0" max="500" value="0" style="max-width: 80px" id="cap">

                                                    <select class="form-control campo-stretch" id="per"></select>

                                                </div>

                                            </div>
                                            <div class="botones-step text-right">
                                                <button class="btn btn-bold ml-auto js-btn-next" type="button" title="Next" onclick="buscarAulas()">Siguiente</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Panel de Seleccionar Aula -->
                                    <div class="multisteps-form__panel" data-animation="slideHorz" id="panelSelecAula">
                                        
                                    </div>

                                    <!-- Panel de Completar Datos-->
                                    <div class="multisteps-form__panel" data-animation="slideHorz">
                                        <br><br>
                                        <div class="container">
                                            <div class="row">
                                                <!-- Columna izquierda con los label de los campos -->
                                                <div class="col-xs-5 text-right">
                                                    <label class="etiqueta-stretch">Materia:</label><br>
                                                    <label class="etiqueta-stretch">Código:</label><br>
                                                </div>

                                                <!-- Columna derecha con los campos -->
                                                <div class="col-xs-7 ">
                                                    <select class="form-control campo-stretch" id="nombMateria" onclick="setCodigo()"></select>
                                                    <input class="form-control campo-stretch" type="text" id="codMateria" disabled>

                                                </div>

                                            </div>
                                            <div class="botones-step text-right">
                                                <button class="btn btn-line ml-auto js-btn-prev" type="button" title="Prev">Volver</button>
                                                <button class="btn btn-bold ml-auto js-btn-next" type="button" title="Next" onclick="reservarAula()">Finalizar</button>

                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- partial -->

    </main>

    <!-- TODO: Terminar Footer-->
    <footer class="footer">
        <div class="container">
            <h2>Footer</h2>

        </div>
    </footer>
    <script src="js/reservarAula.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'></script> 
    <script  src="./js/script-stepper.js"></script>
</body>
</html>