/*TODO: refactorizar nombres de atributos */


body{
    background-color: #F6F6F6;

}

.bg-container{
    background: white;
    height: 100%;
    padding: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);

}
.bg-encabezado{
    background: white;
    height: 100%;
    padding: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
}
.bg-carousel{
    background: white;
    height: 100%;
    margin-top: 8px;
    padding: 0;
    margin-bottom: 8px;
    border-radius: 5px;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
}
.header{
    background-color: #2666BC;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    width: 100%;
}

.bg-footer{
    background-color: #C4C4C4;
}
.bg3{
    border-color: #FFFFFF;
    box-shadow: 0 0px 0px 0;
}
.center-div{
    margin: 0 auto;
    width: 50%;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.col-xs-6, .col-xs-5, .col-xs-7{
    padding-right: 16px;
    padding-left: 16px;
}
.col-xs-1{
    margin-right: 20px;
}
.panel .panel-heading{
    background-color: #CBE9FF;
}

.titulo-materia{
    font-family: "Mitram Bold", sans-serif;
    padding: 8px;
    font-weight: bold;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}
.titulo{
    font-family: "Mitram Bold", sans-serif;
    font-weight: bold;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
}
.subtitulo{
    font-family: "Mitram Regular", sans-serif;
    font-weight: bold;
}
.subtitulo-horario{
    font-family: "Mitram Regular", sans-serif;
    font-weight: bolder;
    margin: 0;
    padding-top: 4px;
}
.navbar{
    background: #2666BC;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 55px;

}
.navbar-brand{
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0;
    padding-right: 50px;
    min-height: 55px;
    max-height: 200px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: #2666BC;
}
.nav{
    color: #FFFFFF;
}
.navbar-default .navbar-nav li a{
    color: #D9D9D9;
    font-family: "Mitram Regular",sans-serif;
    font-size: medium;
    font-weight: bold;
}

.navbar-default .navbar-nav li a:focus{
    color: #FFFFFF;
}
.navbar-default .navbar-nav li a:hover{
    color: #EAEAEA;
}
.navbar-default .navbar-nav li .dropdown-menu{
    font-weight: normal;
    padding: 10px;
    width: 250px;
}
.navbar-default .navbar-nav li .dropdown-menu a{
    font-weight: normal;
    margin: 10px;
    color: #303030;
}
.navbar-default .navbar-nav li .dropdown-menu a .dropdown-item:hover{
    padding: 10px;
    color: #303030;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: #2666BC;
    color: #FFFFFF;
}
.barra{
    color: #FFFFFF;
}
.logo{
    height: 55px;
}
.btn-search{
    background-color: #2666BC;
    color: #FFFFFF;
    border-radius: 25px;
    width: 50px;
    outline: none;
}
.btn-search:hover{
    box-shadow: 0 5px 5px 0 rgba(203,233,255,0.7);
    color: #FFFFFF;
    outline: none;
}
.btn-search:focus{
    border-radius: 25px;
    border-color: #2666BC;
    outline: none;
}
.btn-search-line, .btn-search-line:active, .btn-search-line:focus {
    background-color: #ffffff;
    color: #2666BC;
    border-color: #2666BC;
    border-radius: 25px;
    width: 50px;
    outline: none;
}
.chip{
    border-radius: 50px;
    background-color: #CBE9FF;
    width: 300px;
    height: 45px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bold;
    font-size: medium;
    color: #2666BC;
    horiz-align: center;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    opacity: 1;
}
.cont{
    display: flex;
}
.user-text{
    flex-grow: 3;
}
.form-control{
    border-radius: 25px;
    border-color: #2666BC;
    resize: none;
}
input{
    max-width: 400px;

}
.etiqueta{
    padding-right: 6px;

}
.etiqueta-stretch{
    margin-bottom: 8px;
    padding-top: 7px;
    padding-bottom: 7px;

}
.valor{
    padding-right: 24px;
    font-weight: normal;
}
.campo{
    margin-right: 25px;
    margin-bottom: 12px;
    margin-top: 12px;
    width: fit-content;
    max-width: 250px;

}
.campo-stretch{
    width: fit-content;
    max-width: 400px;
    margin-bottom: 8px;

}

.comment-info{
    color: #2666BC;
}
.comentarios{
    padding-top: 32px;
    padding-bottom: 8px;
    padding-right: 32px;
    padding-left: 32px;
}

.footer{
    background-color: #C4C4C4;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px;
    line-height: 60px;
    padding-top: 16px;
    padding-bottom: 32px;
}
.footer-item{
    padding-top: 8px;
    padding-left: 16px;
}
.footer-item-small{
    padding-top: 8px;
    padding-left: 16px;
    color: #FFFFFF;
}

.main-container{
    padding-top: 95px;
    padding-bottom: 8px;
}
*{
    box-sizing: border-box;
}
body{
    margin-bottom: 250px;
}
html {
    position: relative;
    min-height: 100%;
}

.expansible{
    padding: 8px;
    padding-left: 16px;
}
.botones{
    padding: 8px;
    padding-bottom: 12px;
    padding-top: 0;
}
.botones-step{
    padding: 8px;
    padding-bottom: 12px;
    padding-top: 0;
    margin-top: 24px;
    margin-right: 30px;
}
.btn-line, .btn-line:active{
    background-color: #FFFFFF;
    color: #2666BC;
    border-radius: 25px;
    border-style: solid;
    border-color: #2666BC;
    border-width: 1px;
    font-weight: 400;
    padding-left: 8px;
    padding-right: 8px;
    min-width: 130px;
    width: 180px;
    margin-left: 16px;
    outline: none;
}
.btn-line:hover, .btn-line:focus{
    background-color: #2666BC;
    color: #FFFFFF;
    border-radius: 25px;
    width: 180px;
    margin-left: 16px;
    outline: none;
}
.btn-bold{
    background-color: #2666BC;
    color: #FFFFFF;
    border-radius: 25px;
    width: 180px;
    margin-left: 16px;
    outline: none;
}
.btn-bold:hover, .btn-bold:focus{
    background-color: #2666BC;
    color: #FFFFFF;
    border-radius: 25px;
    width: 180px;
    margin-left: 16px;
    font-weight: bold;
    outline: none;
}

.icon-check{
    color: #2666BC;
    padding-right: 4px;
}
.carousel-inner > .item > img {
    width: 100%;
}
.carousel{
    overflow: hidden;

}
.controls{
    padding-left: 36px;
    padding-right: 36px;
}
.button-container{
    justify-content: flex-end;
    margin-top: 16px;
    margin-bottom: 8px;
}

/* CSS del Stepper*/


.content {
    width: 95%;
    margin: 0 auto 50px;
}

.content__title {
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
}

.content__title--m-sm {
    margin-bottom: 10px;
}

.multisteps-form__progress {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.multisteps-form__progress-btn {
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    position: relative;
    padding-top: 20px;
    color: rgba(108, 117, 125, 0.7);
    text-indent: -9999px;
    border: none;
    background-color: transparent;
    outline: none !important;
    cursor: pointer;
}
@media (min-width: 500px) {
    .multisteps-form__progress-btn {
        text-indent: 0;
    }
}
.multisteps-form__progress-btn:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 13px;
    height: 13px;
    content: '';
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    border: 2px solid currentColor;
    border-radius: 50%;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 3;
}
.multisteps-form__progress-btn:after {
    position: absolute;
    top: 5px;
    left: calc(-50% - 13px / 2);
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    background-color: currentColor;
    z-index: 1;
}
.multisteps-form__progress-btn:first-child:after {
    display: none;
}
.multisteps-form__progress-btn.js-active {
    color: #2666BC;
    font-weight: bold;
}
.multisteps-form__progress-btn.js-active:before {
    -webkit-transform: translateX(-50%) scale(1.2);
    transform: translateX(-50%) scale(1.2);
    background-color: currentColor;
}

.multisteps-form__form {
    position: relative;
}

.multisteps-form__panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 0;
    opacity: 0;
    visibility: hidden;
}
.multisteps-form__panel.js-active {
    height: auto;
    opacity: 1;
    visibility: visible;
}
.multisteps-form__panel[data-animation="slideHorz"] {
    left: 50px;
}
.multisteps-form__panel[data-animation="slideHorz"].js-active {
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
    transition-delay: 0s;
    left: 0;
}

