<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <h3 class="titulo">Links de interés</h3>
                <h4 class="footer-item"><a href="https://www.unsl.edu.ar/" target="_blank">UNSL</a></h4>
                <h4 class="footer-item"><a href="https://alumnos.unsl.edu.ar/cons_aulas/index.php" target="_blank" >Sitio original</a></h4>
                <h4 class="footer-item"><a href="https://saebu.unsl.edu.ar/" target="_blank">SAEBU</a></h4>
            </div>

            <div class="col-xs-4">
                <h3 class="titulo">Contacto</h3>
                <h4 class="footer-item"><b>Consultas acedémicas:</b> <a href="mailto:sacade@unsl.edu.ar">sacade@unsl.edu.ar</a></h4>
                <h4 class="footer-item"><b>Consultas de reservas:</b> <a href="mailto:ale@unsl.edu.ar">ale@unsl.edu.ar</a></h4>
            </div>

            <div class="col-xs-4">
                <h4></h4>
                <img src="https://www.noticias.unsl.edu.ar/wp-content/themes/sirius-lite/assets/img/isologo_unsl_color_footer.png" alt="Isologo de la UNSL" width="255" height="74.7">
                <h5 class="footer-item">Avenida Ejército de Los Andes 950 D5700HHW Tel: +54 (266) 4520300 San Luis – Argentina</h5>
            </div>



        </div>

        <div class="row">
            <h2></h2>
            <h5 class="footer-item"> © Todos los derechos reservados - UNSL - Diseñado y Desarrollado por estudiantes de Ingeniería Web de 4to año de Ingeniería en Informática.</h5>
        </div>

    </div>
</footer>