<script src="js/navegador.js"></script>
<header>

    <div class="container header">

        <nav class="navbar navbar-default navbar-fixed-top ">
            <div class="container align-center">

                <a class="navbar-brand" href="Principal">
                    <img class="logo d-inline-block align-top" src="http://www.unsl.edu.ar/application/assets/logos/logo-unsl-negativo2.png" width="150">

                </a>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                <div class="collapse navbar-collapse center-content" id="nav1">

                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a href="listadoAulas" class="nav-link">AULAS</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ESTUDIANTES</a>
                            <ul class="dropdown-menu">
                                <li><a href="horariosCarrera">Horarios por carrera</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="horarioPersonalizado">Horarios personalizados</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DOCENTES</a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:redirectListadoReservas()">Ver reservas</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="javascript:redirectReservarAula()">Reservar aula</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="javascript:redirectListadoReservas()">Cancelar reserva</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a href="javascript:redirectAutorizarReservas()" class="nav-link">ADMINISTRATIVOS</a></li>
                        <!--<li class="nav-item"><a href="ABM" class="nav-link">ABM</a></li>-->
                    </ul>

                </div>
            </div>
        </nav>
    </div>
    
</header>

